body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-around;
  background-color: #1f2937;
  align-items: center;
  padding: 16px;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

.header-links {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #b8b9bd;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section-one {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  background-color: #1f2937;
  padding: 100px 225px;
  gap: 50px;
}

.opener {
  display: flex;
  flex-direction: column;
  /* background-color: yellow; */
  flex: 1;
  gap: 8px;
}

.awesome {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.subtext {
  font-size: 18px;
  color: #b8b9bd;
}

.sign-up {
  background-color: #3882f6;
  color: white;
  border-radius: 8px;
  border: 1px solid #3882f6;
  cursor: pointer;
  padding: 8px 20px;
}

.image {
  background-color: #bfbfc0;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.random {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: bolder;
  color: #152937;
  padding: 30px;
}

.items {
  display: flex;
  justify-content: center;
  gap: 40px;
  text-align: center;
}

.square {
  height: 125px;
  width: 125px;
  border: 2px solid #3882f6;
  border-radius: 8px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 125px;
}

.text {
  font-size: 14px;
  padding: 5px;
}
